button {
  background: linear-gradient(90deg, #ff8c00, #ff4458);
  color: white;
  border-radius: 25px;
  font-weight: bold;
  text-transform: none;
  width: 100%;
  height: 44px;
  font-size: 16px;
  border: none;
}
