<ion-content class="ion-padding">
  <div class="register-card">
    <img src="assets/icon/tinder.png" alt="Tinder Logo" class="tinder-logo" />

    <h2 class="title">My Information</h2>

    <form (ngSubmit)="register()">
      <app-input
        label="First name"
        type="text"
        [(ngModel)]="firstName"
        name="firstName">
      </app-input>

      <app-input
        label="Last name"
        type="text"
        [(ngModel)]="lastName"
        name="lastName">
      </app-input>

      <app-input
        label="Email"
        type="email"
        [(ngModel)]="email"
        name="email">
      </app-input>

      <app-input
        label="Password"
        type="password"
        [(ngModel)]="password"
        name="password">
      </app-input>

      <app-input
        label="Country"
        type="text"
        [(ngModel)]="country"
        name="country">
      </app-input>

      <div class="ion-margin-top">
        <app-button
          type="submit"
          label="Continue">
        </app-button>
      </div>
    </form>

    <div class="ion-text-center ion-margin-top">
      <app-link
        text="Already have an account? Log in"
        [routerLink]="['/login']">
      </app-link>
    </div>

    <div *ngIf="errorMsg" class="error">
      {{ errorMsg }}
    </div>
  </div>
</ion-content>
